contourpy==1.0.6 ; python_version >= "3.9" and python_version < "4"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "4"
fonttools==4.38.0 ; python_version >= "3.9" and python_version < "4"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "4"
matplotlib==3.6.2 ; python_version >= "3.9" and python_version < "4"
numpy==1.23.4 ; python_version >= "3.9" and python_version < "4"
packaging==21.3 ; python_version >= "3.9" and python_version < "4"
pillow==9.3.0 ; python_version >= "3.9" and python_version < "4"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4"
scipy==1.9.3 ; python_version >= "3.9" and python_version < "4"
setuptools-scm==7.0.5 ; python_version >= "3.9" and python_version < "4"
setuptools==65.5.1 ; python_version >= "3.9" and python_version < "4"
six==1.16.0 ; python_version >= "3.9" and python_version < "4"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "4"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "4"
